html, body {
    height: 100%;
    background-image: url('bgg.jpg');
    font-family: monospace;
    background-size: cover;
    background-repeat: no-repeat;
    }

.display{
    display: flex;
}

.display-center{
    display: flex;
}

.form-login {
    position: relative;
    top: 1px;
    left: 5px;
    width: 100%;
    max-width: 335px;
    padding: 15px;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);

}

.btn {
    width: 290px;
    border-radius: 10px;
}

.footer{
    color: #fff;
    text-decoration: none;
}

.footer:hover{
    color: slateblue;
    text-decoration: none;
}


.scroll-left {
    height: 20px;
    overflow: hidden;
    position: relative;
}

.scroll-left p {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s linear infinite;
}
    @-moz-keyframes scroll-left {
        0% {-moz-transform: translateX(100%)}
        100% {-moz-transform: translateX(-100%)}
    }

    @-webkit-keyframes scroll-left {
        0% {-webkit-transform: translateX(100%)}
        100% {-webkit-transform: translateX(-100%)}
    }

    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }

        100% {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
}